@{
    ViewBag.Title = "ErrorCart";
    Layout = "~/Views/Shared/_CartLayout.cshtml";
}
<div class="text-center">
    <h2>Không có đơn hàng</h2>
    <a class="btn btn-success" href="@Url.Action("Product","Home")">Mua hàng</a>
</div>

